.main {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 60%;
  margin-left: 3em;
}

.row1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.row2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.score {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 45px;
  font-family: Sans-serif;
  margin-top: -0.8em;
  margin-bottom: -0.4em;
}

.btn-1 {
  margin: 10px;
  margin-top: 1%;
  max-height: 70%;
  max-width: 70%;
}

.btn-2 {
  margin: 10px;
  margin-left: 1%;
  margin-top: 1%;
  max-height: 70%;
  max-width: 70%;
}

.btn-3 {
  margin: 10px;
  margin-top: 1%;
  max-height: 70%;
  max-width: 70%;
}

.btn-4 {
  margin: 10px;
  margin-left: 1%;
  margin-top: 1%;
  max-height: 70%;
  max-width: 70%;
}

.fade-btn1 {
  animation: fade-in-keyframes-btn-1 0.5s;
}

.fade-btn2 {
  animation: fade-in-keyframes-btn-2 0.5s;
}

.fade-btn3 {
  animation: fade-in-keyframes-btn-3 0.5s;
}

.fade-btn4 {
  animation: fade-in-keyframes-btn-4 0.5s;
}

@keyframes fade-in-keyframes-btn-1 {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fade-in-keyframes-btn-2 {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fade-in-keyframes-btn-3 {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fade-in-keyframes-btn-4 {
  from {opacity: 0;}
  to {opacity: 1;}
}